* {
    box-sizing: border-box;
    transition: background-color 30ms ease-in,
    color 30ms ease-in;

}

body {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: hidden;
    min-width: 300px;
    --primary-color: #222;
    --primary-bg-color: #fff;
    --main-txt-color: #222;
    --main-bg-color: #fff;
    --active-txt-color: #fff;
    --background-input: #F0F2F5;
    --line-break: rgba(0, 0, 0, .1);
    --secondary-text: #65676B;
    --shadow-2: rgba(0, 0, 0, .2);
    --shadow-style:  0 0 4px rgba(0,0,0,.2);
    --bg-active-left-chat: rgba(45, 136, 255, .1);
    --bg-message: #E4E6EB;

    margin: 0;
    font: normal normal normal 1rem/1.6 Nunito Sans,
        Helvetica,
        Arial,
        sans-serif;
    color: var(--primary-color) !important;
    background-color: var(--primary-bg-color) !important;
}

body.dark {
    --primary-color: #e8edec !important;
    --primary-bg-color: RGB(36, 37, 38);
    --main-txt-color: #e8edec;
    --main-bg-color: #000;
    --active-txt-color: #000;
    --line-break: #393a3b;
    --background-input: #3a3b3c;
    --secondary-text: #65676B;
    --shadow-style: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
    --bg-active-left-chat: rgba(45, 136, 255, .1);
    --bg-message: #3E4042;
}
.my_message .mess{
    color: #fff;
}
.left {
    max-width: 70%;
}

.header {
    height: 56px;
    padding: 8px 15px;
    border-bottom: 1px solid var(--line-break);
    box-shadow: 0 0 4px var(--shadow-2);
}

.logo {
    margin-right: 10px;
    height: 100%;
}

.search {
    height: 58px;
    position: relative;
    width: 100%;
}

#search-input {
    height: 40px;
    padding: 0px 10px;
    padding-left: 35px;
    width: 100%;
    outline: none;
    background-color: var(--background-input);
    border: hidden;
    color: var(--primary-color);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
#groupname{
    height: 40px;
    padding: 0px 10px;
    padding-left: 35px;
    width: 100%;
    outline: none;
    background-color: var(--background-input);
    border: hidden;
    color: var(--primary-color);
    border-radius: 20px;
}
.group-name-container{
    position: relative;
}
#search-input-group {
    height: 40px;
    padding: 0px 10px;
    padding-left: 35px;
    width: 100%;
    outline: none;
    background-color: var(--background-input);
    border: hidden;
    color: var(--primary-color);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
#staticBackdrop .modal-content{
    background-color: var(--primary-bg-color);
}
.toast{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.search span, .group-name-container span {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user__image img {
    width: 28px;
    height: 28px;
    border-radius: 28px;
}

.user__name {
    padding-left: 10px;
    padding-right: 10px;
}

.chat-container {
    height: auto;
    width: 100%;
    position: absolute;
    top: 56px;
    bottom: 0;
}

.left_chat {
    min-width: 200px;
    border-right: 1px solid var(--line-break);
    padding: 14px 8px;
    width: 25%;
}

.right_chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1;
}

.partner_image img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
#carouselExampleControls{
    overflow: auto;
}
.partner_name {
    font-weight: 600;
    font-size: 1.0625rem;
    word-break: break-all;
}

.room_name {
    padding: 14px;
    box-shadow: 0px 3px 4px -4px var(--shadow-2);
}

.partner_stutus {
    font-size: 13px;
    color: var(--secondary-text);
}

.user_left, .group_left {
    padding-top: 15px;
    overflow: auto;
    max-height: calc(100% - 58px);
}



.user__left__item__img img {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin-right: 12px;
}

.user__left__item__mess {
    height: 54px;
    padding: 12px 0;
}
.nav-tabs .nav-link.active {
    background-color: transparent !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}
.nav-tabs .nav-link{
    color: var(--primary-color);
}
.nav-tabs .nav-link.active{
    color: #0D6EFD !important;
    border-color: #0D6EFD !important;
}
.add-group{
    width: 56px;
    height: 56px;
    border-radius: 100% !important;
    margin-left: 8px;
    margin-right: 12px;
    align-self: center;
}
.user__left__item {
    height: 72px;
    padding: 0 8px;
    border-radius: 8px;
    transition: background-color 50ms ease-in;
    cursor: pointer;

}
.user__group__item {
    height: 72px;
    padding: 0 8px;
    border-radius: 8px;
    transition: background-color 50ms ease-in;
    cursor: pointer;

}

.add_group_chat{
    align-self: center;
}

.user__left__item:hover {
    background-color: var(--background-input);

}

.user__left__item.active {
    background-color: var(--bg-active-left-chat);
}

.partner_name {
    font-size: 15px;
    line-height: 1.3333;
    font-weight: 500;
}

.partner_mess {
    font-size: 13px;
    line-height: 1.2308;
    color: var(--secondary-text);

}

.room-container {
    padding: 0 22px 8px 8px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}
.loading-chat{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.room-container> :first-child {
    margin-top: auto !important;
    /* use !important to prevent breakage from child margin settings */
}

.room-container .you img {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    margin-right: 8px;
}

.room-container .you {
    text-align: left;
}

.room-container .me {
    text-align: right;
}

.room-container .me img {
    width: 28px;
    height: 28px;
    border-radius: 28px;
}

.you,
.me {
    clear: both;
}
.you{
    display: flex;
    align-items: flex-end;
}
.your_image{
    margin-bottom: 5px;
}
.you .your_message_group {
    flex: 1;
}

.mess-container {
    padding: 7px 12px 8px 12px;
    background-color: var(--bg-message);
    margin-bottom: 2px;

}

.mess-container.your_message {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.mess-container.my_message {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.my_message {
    max-width: 40%;
    position: relative;
    float: right;
    clear: both;
    word-break: break-all;
    text-align: start;
    background-color: rgb(0, 132, 255);
}

.your_message {
    max-width: 40%;
    position: relative;
    float: left;
    clear: both;
    word-break: break-all;
    text-align: start;
}

.my_message:first-child {
    border-top-right-radius: 18px;
}

.my_message:last-child {
    border-bottom-right-radius: 18px;
}

.your_message:first-child {
    border-top-left-radius: 18px;
}

.your_message:last-child {
    border-bottom-left-radius: 18px;
}

.form_chat {
    padding: 5px 20px;
}

.input_container {
    flex: 1;
    margin-right: 10px;
    padding: 8px 0 8px 10px;
    border-radius: 20px;
    background-color: var(--background-input);
    border: hidden;
    color: var(--primary-color);

}

.input_chat {
    width: 98%;
    max-height: 110px;
    overflow-y: auto;
    min-height: 20px;
    height: auto;
    outline: none;
    overflow-wrap: break-word;
    user-select: text;
    word-break: break-all;
    font-size: 15px;
    background-color: var(--background-input);
    color: var(--primary-color);
}

.input_chat span {
    background-color: var(--background-input) !important;
    color: var(--primary-color) !important;
}

.form_chat i {
    color: rgb(0, 132, 255);
    font-size: 20px;
}

.form_chat a {
    align-self: flex-end;
    margin-bottom: 6px;
}
.displayUserGroup .user_search__img{
    margin-right: 10px;
    position: relative;
    outline: none;
    margin-bottom: 10px;
}
#staticBackdrop .modal-header{
    border-bottom: 0px !important;
}
#staticBackdrop .modal-footer{
    border-top: 0px !important;
}
.displayUserGroup .user_search__img i{
    position: absolute;
    top: 0;
    right: 0;
}
#collapseSearch, #collapseSearch1 {
    position: absolute;
    /* bottom: 0; */
    top: 60px;
    width: calc(100% + 8px);
    left: 0;
    height: auto;
    max-height: 600px;
    z-index: 999999;
}

#collapseSearch .card , #collapseSearch1 .card {
    background-color: var(--primary-bg-color);
    max-height: 600px;
    overflow: hidden;
    min-height: 600px;

}

#collapseSearch .card:hover, #collapseSearch1 .card:hover {
    overflow: auto;
}

#collapseSearch .card::-webkit-scrollbar, #collapseSearch1 .card::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#collapseSearch .card::-webkit-scrollbar-track, #collapseSearch1 .card::-webkit-scrollbar-track {
    background-color: var(--primary-bg-color);
}

/* Handle */
#collapseSearch .card::-webkit-scrollbar-thumb, #collapseSearch1 .card::-webkit-scrollbar-thumb {
    background: var(--background-input);
    border-radius: 10px;
}

.loading.hide{
    display: none !important;
}
.right_chat .room_name.hide{
    display: none !important; 
}
.right_chat .room_name.hide+.room-container +form{
    display: none !important;
}
.btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}
.user{
    cursor: pointer;
    outline: none;
}
.user_search{
    padding: 1rem;
    border-radius: 10px;
}

.user_search:hover {
    background-color: var(--background-input);

}
.user_search__img img{
    width: 46px;
    height: 46px;
    border-radius: 46px;
}
.user_search__name{
    font-size: 18px;
}
.user_left  .room-container{
    display: none !important;
}

@media only screen and (max-width: 600px) {
   
    body{
        height:  100vh;
        max-height: -webkit-fill-available;
    }
    .chat-container{
        flex-direction: column;
        position: relative;
        height: 100%;
        top: 0px;
    }
    .user_left, .group_left{
        padding-top: 0;
        position: relative;
    }
    .user_left .loading, .group_left .loading{
        width: 100%;
        align-items: center;
        height: 72px;
    }
    .room-container{
        padding:0px 8px;
    }
    .right_chat {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
    }
    .left_chat{
        padding: 0 8px;
        height: auto;
        width: 100%;
        border-bottom: 1px solid var(--line-break);
        padding-bottom: 5px;
    }
    .chat-container .user_left{
        display: flex;
        flex-direction: row !important;
    }
    .chat-container .group_left{
        display: flex;
        flex-direction: row !important;
    }
    .chat-container .user__left__item__mess {
        display: none !important;
    }
    .chat-container .user__left__item__img img{
        margin-right: 0;
    }
    .form_chat{
        padding: 5px 8px;
        position: relative;
    }   
    .input_container{
        margin: 0;
        padding-right: 12%;
    }
    .send-message{
        position: absolute;
        right: 5%;

        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        background: transparent;
    }


}
@media only screen and (max-width: 400px) {

}
